$header-height: 80px;
$footer-height: 10rem;

$left-side-width: 20%;
$center-width: 60%;
$right-side-width: 20%;

$footer-content-width: 90%;

$base-color: #6bb7ef;
$base-font-color: darken($base-color, 40%);
$base-flame-color: lighten($base-color, 20%);

$header-color: darken($base-color, 40%);
$header-menu-color: $base-flame-color;
$footer-color: lighten($base-color, 10%);
$advertisement-color: lighten($base-color, 30%);