<ul>
    <%= link_to(new_user_registration_path) do %>
        <li>
            アカウント新規作成
        </li>
    <% end %>
    <%= link_to(new_user_session_path) do%>
        <li>
            サインイン        
        </li>
    <% end %>
</ul>