<ul>                
    <li>
        <strong>
            <%= current_user.username %>
        </strong>
    </li>
    <%= link_to(edit_user_registration_path) do %>
        <li>プロフィール変更</li>
    <% end %>
    <%= link_to(destroy_user_session_path, method: :delete) do %>
        <li class="header-nav-contents-sign-out">
            ログアウト
        </li>
    <% end %>
</ul>