@import 'config/config';

.container {
    height: calc(100% - #{$header-height});
    display: flex;
    flex-direction: row;
}

.main {
    width: $center-width;
}

.left-container {
    width: $left-side-width;
}

.notice, .alert {
    margin: 0;
    padding: 0;
}

.base-hr {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    border:1px gray solid;
}