@import 'config/config';
.header {
    height: $header-height;
    background-color: darken($base-color, 40%);
    display: flex; 
}

.header-logo {
    margin-left: 1rem;
    & img {
        height: $header-height;
    }
}

.header-post-button {
    border-radius: 10px;
    border: $base-color solid 2px; 
    margin-top: $header-height / 6;
    height: $header-height / 1.5;
    width: $header-height / 1.5;
    background-image: image-url('post-poem-icon.png');
    background-color: lighten($base-color, 30%);
    background-repeat: no-repeat;
    background-size: contain;
}

.header-nav {
    margin-top: $header-height / 6;    
    height: $header-height / 1.5;
    width: $header-height / 1.5;
    background: image-url('menu_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    
}

.header-nav-contents {
    display: none;
}