@import 'config/config';
.header {
    height: $header-height;
    background-color: darken($base-color, 40%)    
}

.header-logo {
    margin-left: 1rem;
    & img {
        height: $header-height;
    }
}