<div class="container">
  <div class="hero">

  </div>
  <div class="how-to">
    <ul>
      <li class="how-to-contents">1.ユーザー登録</li>
      <li class="how-to-contents">2.ログイン</li>
      <li class="how-to-contents">3.ポエムを眺める</li>
      <li class="how-to-contents">4.ポエムを投稿する</li>
      <li class="how-to-contents">5.リアクションする</li>
    </ul>
  </div>
</div>